@use  "../../scss/variables" as var;
@use '../../scss/mixins' as mix;

.time {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    font-weight: bold;
    height: 60px;
    background-color: var.$just-white;
    & ul {
        color: var.$primary-color;
        font-size: 1.6rem;
        width: 100%;
        background-color: var.$just-white;
        display: inherit;
        cursor: pointer;

    }
    & li {
        list-style: none;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 0.4s;
        &:hover {
            background-color: var.$primary-background;
            border-radius: 30px;
            margin: 5px;
            font-weight: bold;
    }
    }
}
